.vscode/**
.vscode-test/**
out/**/*.map
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslintrc.json
**/*.map
**/*.ts
**/node_modules/**
**/.git/**
**/.DS_Store
**/jest.config.js
**/tests/**
**/__tests__/**
**/__mocks__/**
*.vsix
tsconfig.json.backup
.claude/**
../**